.login-page {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #03c9f9 10%, #e5f9fe 100%);
  font-family: "Noto Sans Mono", monospace;
}

.login-logo {
  max-height: 120px;
  width: auto;
}