body {
    margin: 0;
    font-family: "Noto Sans Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(-135deg, #03C9F9 10%, #e5f9fe 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.register-card{
  margin-top: 100px;
  width: 400px;
  margin: 0 auto ;
  align-items: center;
  
}