body {
  display: block !important;
  width: 100%;
  overflow: hidden !important;
}
.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.AppHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

.AppFooter{

  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgb(0,0,0,015);
  position: fixed;
  width: 100%;
  bottom: 0;
}

.SideMenu{
  width: 200px;
  height: 100%; 
}

.PageContent{
  padding-left: 12px;
}

.SideMenuAndPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  /* height: calc(100% - 52px); */
}

.Dashboard-Card{
  margin-right: 30px;
  width: 175px;
}

.Create-Container{
  padding: 95px 0px 0px 120px;
}